In [1]:
import os
import pandas as pd
import numpy as np
import re

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', -1)

In [2]:
compare_folder = "/home/laura/ANALYSIS/VARIANT_CALLING/COVID/Compare/2020-11-10_COVID"
pairwise_filename = [x for x in os.listdir(compare_folder) if '.snp.pairwise.tsv' in x][0]
pairwise_file = os.path.join(compare_folder, pairwise_filename)
df = pd.read_csv(pairwise_file, sep="\t" , names=['sample_1', 'sample_2', 'dist'])
df['sample_1'] = df['sample_1'].astype(str)
df['sample_2'] = df['sample_2'].astype(str)

In [3]:
df.head()

   sample_1  sample_2  dist
0  20069944  20069944  0
1  20069944  20069551  16
2  20069944  20091271  2
3  20069944  20081614  12
4  20069944  20267853  9

In [4]:
metadata = pd.read_csv('/home/laura/ANALYSIS/MISC/microreact/wgs_covid_metadata.csv')
metadata['id'] = metadata['id'].astype(str)

In [5]:
metadata.head()

         id DEPARTMENT__autocolor
0  20358933  DIGESTIVO
1  20360682  DIGESTIVO
2  20367276  DIGESTIVO
3  20365371  DIGESTIVO
4  20387497  OTORRINO

In [6]:
df1 = df.merge(metadata, left_on=['sample_1'], right_on=['id'], how='left')
df1 = df1.rename(columns={'DEPARTMENT__autocolor' : 'DEPARTMENT_1'})
df1 = df1.drop(['id'], axis=1)
df1 = df1.merge(metadata, left_on=['sample_2'], right_on=['id'], how='left')
df1 = df1.rename(columns={'DEPARTMENT__autocolor' : 'DEPARTMENT_2'})
df1 = df1.drop(['id'], axis=1)
df1 = df1.fillna('DIVERSIDAD')
df1['DIFFERENT'] = df1['DEPARTMENT_1'] == df1['DEPARTMENT_2']

In [7]:
out_file = os.path.join(compare_folder, 'pairwise_department.csv')
df1.to_csv(out_file, index=False)

In [8]:
group_file = os.path.join(compare_folder, 'group_summary_0.tsv')
gdf = pd.read_csv(group_file, sep="\t")

In [9]:
gdf.head()

,group,samples,N,mean,min,max
0,1,"['20273207', '20326820', '20279371ciclos5', '20288207', '20273792', '20348783', '20279180', '20289895', '20267856', '20303453', '20338831', '20306625', '20267854', '20267853', '20253374', '20294476', '20327059', '20272650', '20279189', '20326029', '20261163', '20258070', '20273218ciclos5', '20293183', '20294477', '20286872', '20273588', '20298003', '20277322', '20267855', '20269026', '20286419', '20272101', '20279372ciclos5', '20242010BIS', '20242010', '20273601', '20261728', '20279174', '20273789', '20258214', '20247604', '20255915', '20247878', '20348780', '20297088', '20407339', '20371405', '20297211']",49,0.0,0.0,0.0
1,2,"['20089518', '20069973', '20076540', '20069592', '20066483', '20069688', '20091993', '20077703', '20062229', '20089075', '20091198', '20131291', '20095471-5', '20095471', '20075029', '20077274', '20082081', '20066510', '20072745', '20072711', '20072993', '20085890', '20069707', '20164346-8', '20089370', '20155764', '20158605', '20089542', '20089209', '20069961', '20072734', '20089037', '20131360', '20069944', '20069560', '20072166', '20097074Micro', '20095471-8']",38,0.0,0.0,0.0
2,3,"['20091211', '20069624', '20072758', '20115546', '20089308', '20089300', '20091210', '20072747', '20089033', '20137499', '20062563', '20069703', '20089950', '20066486', '20069433', '20089345', '20091364', '20068881', '20091212', '20084535', '20115171', '20092775', '20077060', '20089945', '20069997', '20069843']",26,0.0,0.0,0.0
3,4,"['20066718', '20063068', '20063072', '20068171', '20060104', '20091425', '20089194', '20062682', '20056952', '20060908', '20057661', '20066411', '20205319', '20063795', '20066705', '20057660', '20063156']",17,0.0,0.0,0.0
4,5,"['20255928', '20325231', '20315305', '20322499', '20393904', '20298756', '20411437', '20298004']",8,0.0,0.0,0.0

In [177]:
def listDepartment(sample_list, metadata):
    if type(sample_list) is str:
        sample_list = sample_list.strip("][").split(', ')
        sample_list = [x.strip("'") for x in sample_list]
    list_department = []
    only_department = []
    metadata_samples = [str(x) for x in metadata.id.tolist()]
    for sample in sample_list:
        if str(sample) in metadata_samples:
            department = metadata[metadata.id == sample]['DEPARTMENT__autocolor'].values[0]
        else:
            department = 'DIVERSIDAD'
        list_department.append(str(sample) + ":" + department)
        only_department.append(department)
    counter_department = dict((x,only_department.count(x)) for x in set(only_department))

    return list_department, counter_department

In [178]:
gdf[['sample_department', 'only_department']] = gdf.apply(lambda x: listDepartment(x['samples'], metadata), axis=1, result_type="expand")

['20273207', '20326820', '20279371ciclos5', '20288207', '20273792', '20348783', '20279180', '20289895', '20267856', '20303453', '20338831', '20306625', '20267854', '20267853', '20253374', '20294476', '20327059', '20272650', '20279189', '20326029', '20261163', '20258070', '20273218ciclos5', '20293183', '20294477', '20286872', '20273588', '20298003', '20277322', '20267855', '20269026', '20286419', '20272101', '20279372ciclos5', '20242010BIS', '20242010', '20273601', '20261728', '20279174', '20273789', '20258214', '20247604', '20255915', '20247878', '20348780', '20297088', '20407339', '20371405', '20297211']
['20089518', '20069973', '20076540', '20069592', '20066483', '20069688', '20091993', '20077703', '20062229', '20089075', '20091198', '20131291', '20095471-5', '20095471', '20075029', '20077274', '20082081', '20066510', '20072745', '20072711', '20072993', '20085890', '20069707', '20164346-8', '20089370', '20155764', '20158605', '20089542', '20089209', '20069961', '20072734', '20089037', '20131360', '20069944', '20069560', '20072166', '20097074Micro', '20095471-8']
['20091211', '20069624', '20072758', '20115546', '20089308', '20089300', '20091210', '20072747', '20089033', '20137499', '20062563', '20069703', '20089950', '20066486', '20069433', '20089345', '20091364', '20068881', '20091212', '20084535', '20115171', '20092775', '20077060', '20089945', '20069997', '20069843']
['20066718', '20063068', '20063072', '20068171', '20060104', '20091425', '20089194', '20062682', '20056952', '20060908', '20057661', '20066411', '20205319', '20063795', '20066705', '20057660', '20063156']
['20255928', '20325231', '20315305', '20322499', '20393904', '20298756', '20411437', '20298004']
['20407357', '20407207', '20398012', '20384795', '20393766', '20387650', '20395003', '20387148']
['20265682', '20263972', '20261377', '20253522', '20286667', '20265074', '20255086']
['20218833', '20115914', '20153588', '20197870', '20158400', '20207080', '20263750']
['20072743', '20173219-5', '20089564', '20173219', '20089502', '20173219-8']
['20089559', '20069464', '20060194', '20069837', '20066496', '20069950']
['20423037', '20415574', '20412081', '20412116', '20423033', '20412126']
['20379679', '20392100', '20379900', '20421290', '20414120', '20423148']
['20187355', '20104985-8', '20187355-8', '20077064', '20104985', '20199090']
['20155670', '20174144', '20155670-8', '20098558', '20085959']
['20398287', '20405596', '20392611', '20414512', '20397925']
['20389993', '20411122', '20407480', '20411919', '20411920']
['20274289', '20265528', '20267103', '20269341', '20265655']
['20423445bis', '20411404', '20423445-1', '20423445']
['20258649', '20263308', '20250018', '20277207']
['20358933', '20365371', '20384144', '20392104']
['20261184', '20253811', '20261092', '20261627']
['20395225', '20395152', '20395433', '20390486']
['20258570', '20353115', '20353219', '203533219']
['20174789', '20193877', '20180607']
['20411526', '20411484', '20411524']
['20342646', '20328673', '20334871']
['20414498', '20423108', '20421509']
['20327031', '20327027', '20327028']
['20088792', '20185064', '20089350']
['20423015', '20421998', '20423002']
['20402620', '20398331', '20392511']
['20407336', '20353000', '20411390']
['20327016', '20327014', '20372739']
['20089766', '20089762', '20091516']
['20108080', '20081087', '20072763']
['20411432', '20407295-bis', '20407295']
['20289945', '20288744', '20282254ciclos5']
['20289563', '20284978ciclos5', '20284978ciclos5bis']
['20411178', '20414005', '20412203']
['20571180', '20371180']
['20179107M', '20179107']
['20108076', '20101584']
['20362638', '20360682']
['20089266', '20091216']
['20352934', '20352927']
['20326156', '20326164']
['20099777ciclos5', '20072317']
['20407464', '20326041']
['20279243', '20272242']
['20081765', '20091414']
['20247415', '20261326']
['20411892', '20405574']
['20089968M', '20089968']
['20340302', '20265577']
['20407208', '20387811']
['20326494', '20326486']
['20258440', '20341335']
['20411521', '20402290']
['20387497', '20412195']
['20171204', '20091046']
['20069448', '20069441']
['20407595', '20407312']
['20147378', '20112741']
['20279283', '20274440']
['20423096', '20412241']
['20081614', '20191983']
['20371200', '20371203']
['20105354', '20105354ciclos5']
['20352626', '20414347']
['20066506', '20072700']
['20066420', '20089088']
['20414490', '20414510']
['20353287', '20346858']
['20387413', '20390669']
['20269791', '20265521']
['20352990', '20353117']
['20384092', '20395985']
['20371417', '20371416']
['20411376', '20411525']
['20131115', '20131119']
['20372714', '20372741']
['20091986', '20089025']
['20389458', '20414513']
['20098031', '20112528']
['20279217', '20282323']
['20326617', '20326473']
['20089741']
['20089656']
['20415662']
['20253722']
['20095383']
['20352648']
['20069691']
['20421287']
['20066515']
['20411939']
['20423059']
['20423027']
['20327650']
['20371415']
['20263413']
['20263350']
['20352816']
['20365524']
['20289862']
['20387813']
['20072167']
['20407309']
['20069551']
['20374361']
['20374247']
['20091271']
['20402280']
['20158609']
['20066708']
['20421305']
['20089688']
['20327024']
['20414170']
['20326076']
['20353111']
['20089273']
['20326483']
['20326075']
['20214753']
['20190543']
['20327599']
['20066715']
['20089688-8']
['20141205']
['20091281']
['20374339']
['20115261']
['20089261']
['20421279']
['20274251']
['20089272']
['20371194']
['20265597']
['20274031']
['20255091']
['20372711']
['20352288']
['20407594']
['20247811']
['20185059']
['20063507']
['20197739']
['20369536']
['20089053']
['20245025']
['20405593']
['20137496']
['20333345']
['20143867']
['20411372']
['20312533']
['20147508']
['20353252']
['20066498']
['20372743']
['20326478']
['20353240']
['20405612']
['20408107']
['20063113']
['20107771']
['20371285']
['20089484']
['20091067']
['20326143']
['20091134']
['20069958']
['20327618']
['20411917']
['20255685']
['20352458']
['20131349']
['20192226']
['20371435']
['20353090']
['20060178']
['20242511']
['20089040']
['20072730']
['20407689']
['20063134']
['20371414']
['20063793']
['20263858']
['20353286']
['20089399']
['20131283']
['20195733']
['20118423']
['20325799']
['20098742']
['20414166']
['20113106']
['20105364']
['20326476']
['20180591']
['20318663']
['20089286']
['20191527']
['20421333']
['20068031']
['20143944']
['20263569']
['20089567']
['20242273']
['20286864']
['20352929']
['20407263']
['20327625']
['20326135']
['20371193']
['20397563']
['20095991']
['20353439']
['20072712']
['20099778']
['20353118']
['20423449']
['20089318']
['20060909']
['20273484']
['20412219']
['20279121']
['20072710']
['20143039']
['20261170']
['20352942']
['20415660']
['20068984']
['20352819']
['20255313']
['20072728']
['20091193']
['20371302']
['20142332']
['20232929']
['20099524']
['20242702']
['20069079']
['20405545']
['20407463']
['20091230']
['20089386']
['20322506']
['20060916']
['20035334']
['20267466']
['20352304']
['20261662']
['20352276']
['20289120']
['20089536']
['20411943']
['20091911']
['20066485']
['20418397']
['20371162']
['20089528']
['20183298']
['20098461']
['20326009']
['20124488']
['20352303']
['20415606']
['20218845']
['20326615']
['20358289']
['20411374']
['20185083']
['20342635']
['20395017']
['20089101']
['20098740']
['20095779']
['20277171']
['20374301']
['20069074']
['20200602']
['20352830']
['20089526']
['20411427']
['20066419']
['20161019']
['20099429']
['20079259']
['20089260']
['20414577']
['20253631']
['20098374']
['20377230']
['20147370']
['20077199']
['20097822']
['20091402']
['20079547']
['20057646']
['20250983']
['20261307']
['20088510']
['20089710']
['20091007']
['20066488']
['20326611']
['20326025']
['20415652']
['20372740']
['20098046']
['20352564']
['20089753']
['20353236']
['20060931']
['20131304']
['20353122']
['20353214']
['20258322']
['20131352']
['20143785']
['20069960']
['20105723']
['20414110']
['20289864']
['20101787']
['20069697']
['20089098']
['20372750']
['20099045']
['20327604']
['20412187']
['20353301']
['20279180BIS']
['20143141']
['20089562']
['20258238']
['20107815']
['20273307']
['20089146']
['20091826']
['20298016']
['20062220']
['20415651']
['20109090']
['20353283']
['20131282']
['20374307']
['20296883ciclos8']
['20421511']
['20089556']
['20407508']
['20155947']
['20255524']
['20353238']
['20353174']
['20069303']
['20060161']
['20374353']
['20414680']
['20415665']
['20104511']
['20079967']
['20261654']
['20353998']
['20353100']
['20374283']
['20412073']
['20089054']
['20392608']
['20089487']
['20069966']
['20405825']
['20327070']
['20088835']
['20255027']
['20193876']
['20289887']
['20069302']
['20250863']
['20353307']
['20374330']
['20405549']
['20174266']
['20069557']
['20089375']
['20327672']
['20353458']
['20411386']
['20352925']
['20353208']
['20069995']
['20407155']
['20091217']
['20411415']
['20069828']
['20357017']
['20298963']
['20077689']
['20066054']
['20423264']
['20352440']
['20414473']
['20069951']
['20068936']
['20353180']
['20091923']
['20089382']
['20352809']
['20154814']
['20353227']
['20353303']
['20253595']
['20091275']
['20316402']
['20263994']
['20412078']
['20250481']
['20412198']
['20352381']
['20261240']
['20371411']
['20091284']
['20069292']
['20258287']
['20091920']
['20151086']
['20091675']
['20107862']
['20353304']
['20147374']
['20092487']
['20224125']
['20353223']
['20407582']
['20242093']
['20089745']
['20348005']
['20101928']
['20091274']
['20117574']
['20326471']
['20263252']
['20371170']
['20387503']
['20415631']
['20353225']
['20323281']
['20415601']
['20173067']
['20405823']
['20352997']
['20098090']
['20431028']
['20341334']
['20277245']
['20352932']
['20353123']
['20269799']
['20352410']
['20371303']
['20326482']
['20371444']
['20069957']
['20326134']
['20072726']
['20062236']
['20092033']
['20372752']
['20098112']
['20063856']
['20326610']
['20407502']
['20411515']
['20340304']
['20072990']
['20327042']
['20089109']
['20334877']
['20326508']
['20348195']
['20088913']
['20326622']
['20414426']
['20412072']
['20253475']
['20326148']
['20097002']
['20097074']
['20371389']
['20069955']
['20371376']
['20097161']
['20352366']
['20327012']
['20141459']
['20327661']
['20353444']
['20392863']
['20353125']
['20353204']
['20089688-5']
['20371401']
['20063155']
['20099653']
['20353464']
['20155646']
['20407219']
['20089576']
['20143801']
['20407583']
['20387419']
['20412199']
['20077063']
['20334527']
['20421313']
['20263772']
['20118551']
['20414578']
['20374277']
['20407213']
['20072753']
['20089560']
['20263347']
['20352073']
['20288021']
['20353158']
['20277326']
['20089371']
['20411929']
['20089271']
['20371315']
['20414580']
['20089384']
['20326474']
['20060914']
['20089952']

In [182]:
gdf.to_csv(os.path.join(compare_folder, 'group_0_diversity.tsv'), sep="\t", index=False)

In [ ]:
counter_department = dict((x,only_department.count(x)) for x in set(only_department))